# Python Virtual Environments
.venv/
venv/
env/
alembic/
# Cache and Compiled Files
__pycache__/
*.pyc
.pytest_cache/

# Environment Variables & Secrets
.env
alembic.ini

# PyCharm/IDE Settings
.idea/
.vscode/

# Generated Output Tests
*.pdf
testing/*.pdf